/****** Object:  Database [AquaparkDB]    Script Date: 25.01.2019 01:36:31 ******/
CREATE DATABASE [AquaparkDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AquaparkDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AquaparkDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AquaparkDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AquaparkDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AquaparkDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AquaparkDB]
GO
/****** Object:  Table [dbo].[tbl_Attraction]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Attraction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Attraction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AttractionHistory]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AttractionHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeginDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IDAttractionList] [int] NOT NULL,
	[AttractionName] [varchar](50) NOT NULL,
	[AttractionPrice] [float] NOT NULL,
 CONSTRAINT [PK_tbl_AttractionHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Client]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[PESEL] [varchar](11) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Gate]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Gate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [bit] NOT NULL,
	[IDAttraction] [int] NOT NULL,
 CONSTRAINT [PK_Gate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_GateHistory]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GateHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[IDGate] [int] NOT NULL,
	[IDVisit] [int] NOT NULL,
 CONSTRAINT [PK_GateHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Pass]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Pass](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WhenEnds] [date] NOT NULL,
	[IDClient] [int] NOT NULL,
 CONSTRAINT [PK_Pass] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PriceHistory]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PriceHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeginDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IDPriceList] [int] NOT NULL,
	[TicketName] [varchar](50) NOT NULL,
	[TicketPrice] [float] NOT NULL,
 CONSTRAINT [PK_PriceHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PriceList]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PriceList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Entry] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_PriceList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PriceListAttraction]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PriceListAttraction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PriceAttraction] [float] NOT NULL,
	[IDAttraction] [int] NOT NULL,
 CONSTRAINT [PK_PriceListAttraction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RFIDWatch]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RFIDWatch](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_RFIDWatch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Visit]    Script Date: 25.01.2019 01:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Visit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime] NULL,
	[StopTime] [datetime] NULL,
	[IDWatch] [int] NOT NULL,
	[IDPriceEntry] [int] NULL,
	[IDPass] [int] NULL,
 CONSTRAINT [PK_Visit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_AttractionHistory]  WITH CHECK ADD  CONSTRAINT [FK_AttractionHistory_PriceListAttraction] FOREIGN KEY([IDAttractionList])
REFERENCES [dbo].[tbl_PriceListAttraction] ([ID])
GO
ALTER TABLE [dbo].[tbl_AttractionHistory] CHECK CONSTRAINT [FK_AttractionHistory_PriceListAttraction]
GO
ALTER TABLE [dbo].[tbl_Gate]  WITH CHECK ADD  CONSTRAINT [FK_Gate_Attraction] FOREIGN KEY([IDAttraction])
REFERENCES [dbo].[tbl_Attraction] ([ID])
GO
ALTER TABLE [dbo].[tbl_Gate] CHECK CONSTRAINT [FK_Gate_Attraction]
GO
ALTER TABLE [dbo].[tbl_GateHistory]  WITH CHECK ADD  CONSTRAINT [FK_GateHistory_Gate] FOREIGN KEY([IDGate])
REFERENCES [dbo].[tbl_Gate] ([ID])
GO
ALTER TABLE [dbo].[tbl_GateHistory] CHECK CONSTRAINT [FK_GateHistory_Gate]
GO
ALTER TABLE [dbo].[tbl_GateHistory]  WITH CHECK ADD  CONSTRAINT [FK_GateHistory_Visit] FOREIGN KEY([IDVisit])
REFERENCES [dbo].[tbl_Visit] ([ID])
GO
ALTER TABLE [dbo].[tbl_GateHistory] CHECK CONSTRAINT [FK_GateHistory_Visit]
GO
ALTER TABLE [dbo].[tbl_Pass]  WITH CHECK ADD  CONSTRAINT [FK_Pass_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[tbl_Client] ([ID])
GO
ALTER TABLE [dbo].[tbl_Pass] CHECK CONSTRAINT [FK_Pass_Client]
GO
ALTER TABLE [dbo].[tbl_PriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceHistory_PriceList] FOREIGN KEY([IDPriceList])
REFERENCES [dbo].[tbl_PriceList] ([ID])
GO
ALTER TABLE [dbo].[tbl_PriceHistory] CHECK CONSTRAINT [FK_PriceHistory_PriceList]
GO
ALTER TABLE [dbo].[tbl_PriceListAttraction]  WITH CHECK ADD  CONSTRAINT [FK_PriceListAttraction_Attraction] FOREIGN KEY([IDAttraction])
REFERENCES [dbo].[tbl_Attraction] ([ID])
GO
ALTER TABLE [dbo].[tbl_PriceListAttraction] CHECK CONSTRAINT [FK_PriceListAttraction_Attraction]
GO
ALTER TABLE [dbo].[tbl_Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Pass] FOREIGN KEY([IDPass])
REFERENCES [dbo].[tbl_Pass] ([ID])
GO
ALTER TABLE [dbo].[tbl_Visit] CHECK CONSTRAINT [FK_Visit_Pass]
GO
ALTER TABLE [dbo].[tbl_Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_PriceList] FOREIGN KEY([IDPriceEntry])
REFERENCES [dbo].[tbl_PriceList] ([ID])
GO
ALTER TABLE [dbo].[tbl_Visit] CHECK CONSTRAINT [FK_Visit_PriceList]
GO
ALTER TABLE [dbo].[tbl_Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_RFIDWatch] FOREIGN KEY([IDWatch])
REFERENCES [dbo].[tbl_RFIDWatch] ([ID])
GO
ALTER TABLE [dbo].[tbl_Visit] CHECK CONSTRAINT [FK_Visit_RFIDWatch]
GO
USE [master]
GO