<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.AquaparkDBConnectionString"
            connectionString="Data Source=DESKTOP-G0CJ1VQ;Initial Catalog=AquaparkDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>